<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASH-jHm89ooijw63sRyVKi13tL0JRwSa8</string>
	<key>GCM_SENDER_ID</key>
	<string>382810899464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moiz.shizuka.shizuka</string>
	<key>PROJECT_ID</key>
	<string>shizuka-94a02</string>
	<key>STORAGE_BUCKET</key>
	<string>shizuka-94a02.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382810899464:ios:a1687ed874f48cf0b33dbd</string>
</dict>
</plist>